<h1><%= @genre.name %></h1>

<h3>Includes <%= pluralize(@genre.boardgames.count, "boardgame") %>:</h3>
<ul>
<% @genre.boardgames.each do |boardgame| %>
    <li><%= link_to boardgame.name, boardgame_path(boardgame) %></li>
<% end %>
</ul>